{% extends "base.html" %}


{% block title %}About Us{% endblock %}


{% block content %}

  
  <!-- About Us Header -->
  <header class="bg-light text-center py-5">
    <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Learn more about our company and our mission.</p>
    </div>
  </header>

  <!-- About Us Content -->
  <section class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h2>Who are we</h2>
            <p>Type about who are we</p>

            <h2>Our Mission</h2>
            <p>Type about our wor and what we do</p>
        </div>
        <div class="col-lg-4">
            <h3>Our Team</h3>
            <ul>
                <li>Velin Poznakov - CEO</li>
                <li>Kristian Nenkov - CEO</li>
            </ul>
        </div>
    </div>
  </section>



{% endblock %}