{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <header class="text-center py-5">
      <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Learn more about us and our mission.</p>
      </div>
    </header>
    
    <section class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron p-3 bg-light rounded-3 mb-4 text-center" style="border: 2px solid gray;">
            <h2 class="display-6 fw-bold">Who are we</h2>
            <p>Type about who are we</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron p-3 bg-light rounded-3 mb-4 text-center" style="border: 2px solid gray;">
            <h2 class="display-6 fw-bold">Our Mission</h2>
            <p>Type about our work and what we do</p>
          </div>
        </div>
    
        <div class="col-12">
          <div class="jumbotron p-5 bg-light rounded-3 text-center" style="border: 2px solid gray;">
            <h3 class="fw-bold">Our Team</h3>
            <ul class="list-unstyled">
              <li>Velin Poznakov - CEO</li>
              <li>Kristian Nenkov - CEO</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
