{% extends 'base.html' %}

{% block title %}Log In{% endblock %}


{% block content %}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'login' %}" method="post" class="mx-auto" style="max-width: 1138px;">
        <h1>Log In!</h1>
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors.0 }}</div>
        {% endif %}

        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors.0 }}</div>
        {% endif %}<br>
    
        <h6>If you don't have an account, create one <a href="{% url 'register' %}">Here</a></h6>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    
{% endblock %}